
.slide, .slide:before {
  background: 50% / cover; 
  padding: 30vh 20%; 
}

#title {
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSsGkGOvoj5Rygi9a9gGkwq8pg_ogPRQfdVXEE8d8E9OFFe1Ed3uQ);
  /*background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR19hYsK19w3ux5z-Fb0NV9Y4Djlm2UEQIZ62vW8N4SKGJr2Ys-);*/
  background-attachment: fixed;  
}

#text {
  /*position: absolute;*/
  /*margin-top: 10%;*/
  top: 40%;
  width: 100%;
  /*font-size: 36px;*/
  letter-spacing: 3px;
  color: black;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  /*opacity: 0.7;*/
  font-size: 62px;
}

/*#main {
  background-color: white;
  opacity: 0.8;
  border-radius: 50px;
  padding: 30px 10px;
  width: 900px;
}
*/
h3 {
  font-family: 'Coming Soon', cursive;
}

#sub {
  font-size: 30px;
  margin-top: 50px;
}

img {
  position: relative;
  margin: 0 auto;

  /*width: 1000px;*/
}

#dash {
margin: 0 13%;
width:75%;

}

#name {
  float: right;
}

#middle_bar {
  height: 200px;
  width: 100%;
  margin: 50px 0;
 /* padding-top: 2%;*/
}

#fb_button {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

